{% extends 'base.html' %}


{% block title %}
  <title>Delete {{ recipe.name }} - Scrumptious</title>
{% endblock title %}

{% block pagination %}
{% endblock pagination %}
  </header>

{% block content %}
  <main>
    <div class="delete-form">
      <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ recipe }}"?</p>
        {{ form.as_p }}
        <div>
          <button class="button">Delete</button>
        </div>
      </form>
    </div>
  </main>
{% endblock content %}
