{% extends 'base.html' %}


{% block title %}
  <title>New Tag - Scrumptious</title>
{% endblock title %}

{% block pagination %}
{% endblock pagination %}

{% block content %}

  <main class="recipe-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button">Create</button>
      </div>
    </form>
  </main>

  {% endblock content %}
