{% extends 'base.html' %}
{% load markdownify %}

{% block title %}
  <title>Mealplan Detail- Scrumptious</title>
{% endblock title %} 

{% block content %}

  <main class="tag-detail">
    <div>
      <a href="{% url 'mealplan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'mealplan_delete' mealplan.id %}">Delete</a>
    </div>
    <h2>Recipes for {{ mealplan.name }}</h2>
    {% for recipe in mealplan.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </p>
    {% endfor %}
  </main>

{% endblock content %}