{% extends 'base.html' %}

{% block title%}
<title>Mealplans</title>
{% endblock title %}

{% block pagination %}
<div class="pagination">
    <span class="step-links">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
    </span>
</div>
{% endblock pagination %} 

{% block content %}

  <main>
    <h4><a href="{% url 'mealplan_new' %}">Create</a></h4>
    {% for meal_plan in mealplan_list %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
            
        <p>
            <a href="{% url 'mealplan_detail' meal_plan.id %}">{{ meal_plan.name }}</a>
        </p>
        
        </h2>   
    </div>   
    {% endfor %}
  </main>
{% endblock content %}