{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
{% block title %}
<title>Scrumptious</title>
{% endblock title %}

  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <h3><a href="{% url 'home' %}">Scrumptious</a></h3>
        </li>
        <li>
          <h3><a href="{% url 'tags_list' %}">Tags</a></h3>
        </li>
        
        {% if user.is_staff %}
        <li>
          <h3><a href="{% url 'admin:index' %}">Admin</a></h3>
        </li>
        {% endif %}
        <li>
          <h3><a href="{% url 'recipe_new' %}">Write a recipe</a></h3>
        </li>
        {% if user.is_authenticated %}
        <li>
          <h3><a href="{% url 'mealplans_list' %}">Meal Plans</a></h3>
        </li>
        <li>
          <h3>
            <a href="{% url 'shopping_item_list' %}">Shop List ({{ user.shopping_items.all|length }})
            </a>
          </h3>  
        <li>
          <h3><a href="{% url 'logout' %}">Logout</a></h3>
        </li>
        {% else %}
        <li>
          <h3><a href="{% url 'login' %}">Login</a></h3>
        </li> 
        {% endif %}  
        <li>
          <h3><a href="">Tags</a></h3>
        </li>
      </ul>
    </nav>
{% block pagination %}
{% endblock pagination %}    
  </header>

{% block content %}
{% endblock content %}
  
</body>

</html>
